<html>
    <body style="font-family: MYRIADPRO-REGULAR, sans-serif;">
        <center>
            <img src="{{ absolute(asset('images/logo.png')) }}" alt="Fenchy logo" style="margin: 100px 0 50px" />
        </center>
        {{ 'message.req_notification.email.body'|trans}}
    </body>
</html>