{% extends "UserBundle::layout.html.twig" %}
    
{% block content_inner %}
    {% block fos_user_content %}
    <div class="password-reset-message">
        <div class="error msg-space">
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </div>
    </div>
    {% endblock %}
{% endblock %}
