<p>Fenchy GmbH, Wuehlischstr. 12, 10245 Berlin, Germany ("Fenchy"), takes the protection of your personal information very seriously. The following privacy policy will provide you with information about the personal information that is collected and how it is used and processed.</p>

<h3>1. Subject matter of this privacy policy</h3>

<p>This Privacy Policy applies to all services which are offered on Fenchy websites. This Privacy Policy exclusively regulates how Fenchy treats your personal information. In case you make use of services provided by third parties, the Privacy Policy conditions of these third parties apply exclusively. Fenchy does not revise Privacy Policy conditions of third parties.</p>

<h3>2. Collection of information.</h3>
<p>You can get information about our internet offering without disclosing any personal information. If you would like to use the services of Fenchy, it is necessary to provide personal information. This information includes, for example, your first name, e-mail-address, address and other personal information which Fenchy may query in individual cases.<br /><br />
You may identify yourself on a Fenchy website through a social networking service account in which Fenchy may receive additional information about your profile.<br /><br />
Fenchy may be able to collect that information from social networking services on which you have used Fenchy’s services in accordance with the Terms of Use, as well as privacy policies of those social networking services.<br /><br />
We collect your information to be able to fulfill the user contract. Essentially, to monitoring compliance with our Terms of Use. In addition, individual information such as browser type, IP address and access time will automatically be transferred to us by your computer and stored on our server. We evaluate such information only for statistical and performance-related purposes. Where possible, the information is anonymized.
</p>

<h3>3. Responsible contact</h3>
<p>Responsible contact according to the Federal Data Protection Act is Fenchy GmbH, Wuehlischstr. 12, 10245 Berlin, Germany.
In case you have any questions concerning privacy policy matters, please contact contact@fenchy.com. At this address, you can review, delete, change your personal information stored by Fenchy or inquire about privacy issues. Alternatively, you can also contact us using the above postal address. While doing this, please include the e-mail address you provided during the registration process.
</p>

<h3>4. Security of your personal information</h3>
<p>
Fenchy processes the information collected from you according to the German data protection law. Fenchy’s employees are obliged and have been adviced to maintain data confidentiality and to respect privacy obligations.<br /><br /> 
We use cookies in order to make our services as pleasant as possible. At the end of a session, these cookies are usually automatically deleted from your hard drive. Your web browser can be set to reject cookies generally. This can lead, for technical reasons, to restricted functioning of our offerings.<br /><br />
We gather process and use personal information only with your consent. We shall fulfill the legal requirements to inform you about it if this consent is made in an electronic manner in the context of our online offerings.<br /><br />

</p>

<h3>5. Transmission of personal information</h3>
<p>
Your personal information will, of course, not be sold or leased to third parties.<br /><br />
In the case that Fenchy`s shares of the company or particular affiliated companies are sold, your customer information will generally be passed on with the transmitted part of the company. In this case your personal information is, of course, also subject to this privacy policy and the relevant data protection statutes.

</p>

<h3>6. Deletion of personal information</h3>
<p>
Your personal information will be deleted if it is no longer necessary for the above-mentioned purposes, for tax purposes or other legal reasons.
</p>

<h3>7. Use of personal information</h3>
<p>
Your personal information shall be used in order to satisfy the user’s needs and to constantly improve our range of services. Fenchy uses your personal information for the establishment, processing and settlement of your user relationship with Fenchy.<br /><br />
Furthermore, we use your information in order to communicate with you. Finally, we use your information in order to trace unauthorized accesses and to protect our websites.
    
</p>