<p>The online network “Fenchy” (”Fenchy”) is operated by Fenchy GmbH (”Fenchy GmbH”). Fenchy GmbH is registered with the German Commercial Registry (HRB 143139 B Charlottenburg) and its registered office address is: Wühlischstr. 12, 10245 Berlin, Germany. The provided services within “Fenchy” and its websites are exclusively provided on the basis of these Terms and Conditions (”Terms”).</p>

<h3>§ 1 Scope of application</h3>

<ol class="ordered-list">
<li>Other provisions or terms and conditions of the user of “Fenchy” (”users”, “user”) only apply if Fenchy GmbH agrees to their validity by prior written consent.</li>
<li>These Terms apply to all users of “Fenchy”. Upon registration for Fenchy (account creation for “Fenchy” and/or every log-in on the website) the user accepts the present Terms as binding. They shall apply for any use of “Fenchy”. Upon registration for “Fenchy”, the user will be asked to accept these Terms.</li>
<li>These Terms will only be published on the websites of “Fenchy”. They can be stored on a permanent data carrier, downloaded into the random access memory or printed out. Upon the user’s written request, these Terms can also be sent by letter post.</li>
<li>Fenchy GmbH reserves the right to amend or modify these Terms with effect for the future at any time should this be deemed necessary and provided that this does not discriminate against the user in bad faith. The user shall be informed of any modifications of these Terms in a suitable way. This notification shall either be presented by a special window opening on the “Fenchy” websites when logging onto “Fenchy” or by an E-Mail to the E-Mail address indicated by the user. In all cases, the user shall be informed of the modification through a highlighted notification in the course of the next log-on to “Fenchy”.</li>
<li>The user is recommended to continuously keep up to date with the applicable version of the Terms.</li>
<li>Fenchy GmbH exclusively offers “Fenchy” to consumers as defined in § 13 BGB (German Civil Code). The use for profit-making or other commercial purposes is excluded. Persons who have reached the legal age at the time of registration are entitled to participate in “Fenchy”. Minors are only entitled to participate if their legal representative’s approval has been given prior to registration for “Fenchy”. Upon registration for “Fenchy”, the user expressly asserts being of legal age and capacity or, in the case of minors, the existence of their legal representative’s approval.</li>
<li>After the user has been informed about the Term’s modification he or she may object to the modifications within one month. For reasons of conservation of evidence, the user is advised to direct the objection in writing to Fenchy GmbH. Should the objection not reach Fenchy GmbH within the period of one month after the user has been informed, or should the user continue to use “Fenchy”, the amended or modified Terms shall become binding. Should the objection reach Fenchy GmbH within the period of notice both parties shall be entitled to cancel the contract adhering to a period of notice of one month. Until the termination of the user’s contract, the original Terms shall be binding. In the notification on the modifications, Fenchy GmbH shall especially indicate the possibility of a cancellation and objection, the period of notice and the legal consequences, in particular the consequences of a failure to object.</li>
</ol>

<h3>§2 Conclusion of the contract</h3>

<ol class="ordered-list">
<li>By filling-in the registration form, the user makes a binding offer for the application for the opening of an account. For this purpose, all data fields in the registration form must be filled-in correctly and completely. Every application refers to the participation in “Fenchy” with one specific account.</li>
<li>With successful registration, that is to say the opening of an account (”account”) by Fenchy GmbH, a user contract for “Fenchy” (”user contract”, “contract”) commences.</li>
<li>The user may register for “Fenchy” through various social networking services. This possibility is only available to users who are registered members of the social networking services through which they access “Fenchy” and is governed by the social networking service’s terms and conditions.</li>
<li>The user can at any time terminate the user contract using the delete function installed on “Fenchy”. This shall not affect the users’ social networking service accounts.</li>
<li>The user does not have a right to obtain a user contract.</li>
</ol>


<h3>§3 Description of the service</h3>
<ol class="ordered-list">
<li>Fenchy GmbH’s services consist of the provision of the websites of “Fenchy”. “Fenchy” offers the possibility to share interests, activities, events, goods and other offers and needs with people in the local neighborhood. The offer only embodies the placement of these contents. User contracts, purchase agreements, service agreements and other contracts governing the contents of “Fenchy” are solely formed between the respective offering party and the accepting user. Unless otherwise stated, the use of “Fenchy” is free of charge. The user solely obtains a right-of-use in the functions of “Fenchy”.</li>
<li>Furthermore, on “Fenchy” coupons and coupon codes are offered by third parties with reservation of availability. These coupons and coupon codes can be redeemed in particular shops which have been closed a cooperation by contract with Fenchy GmbH (“partners, partner”). Fenchy GmbH does not have any influence on the amount or on the content of these coupons and coupon codes. For this purpose the partners are solely responsible. Fenchy GmbH takes no responsibility for the receipt of the described discounts or other benefits. Product orders and product requests shall be exclusively directed to the particular partner. The purchase agreement or the service agreement takes place solely between the user and the partner. For this purpose only the terms of the particular partner shall be valid.              </li>
<li>The use of “Fenchy” is only open to users who have established an account beforehand via their registration. The use of  “Fenchy” is allowed from the time when Fenchy GmbH has opened an account for the user.</li>
<li>The process and the features can be modified by Fenchy GmbH at any time and without prior notice.</li>
<li>“Fenchy” is continuously adjusted, updated, modified and extended in order to make the network interesting for a large number of users. Therefore, the user only obtains a right-of-use in “Fenchy” in its version current at any given time.</li>
<li>The user does not have any right to request “Fenchy” being maintained in the version current at the time of the conclusion of the user contract.</li>
</ol>

<h3>§ 4 Right of revocation</h3>
<ol class="ordered-list">
<li>The user may revoke his application for the opening of an account in text form (e.g. letter, E-Mail) within a period of notice of two weeks without specifying reasons. The period of notice commences at the earliest at the time this information is received. The timely dispatch of the revocation shall be deemed sufficient to adhere to the revocation deadline.</li>
<li>The right of revocation for services offered by Fenchy GmbH expires once Fenchy GmbH has started to perform the services before the end of the revocation period with user’s express consent or at the user’s express request. Express consent or express request is to be assumed if the user has made use of “Fenchy”. “Fenchy” shall be considered used, as soon as the user successfully registered for “Fenchy”.</li>
<li>Any revocation is to be directed to:<br />
Fenchy GmbH<br />
Wühlischstr. 12<br />
10245 Berlin<br />
Germany<br />
E-Mail: customer@fenchy.com<br />
</li>
<li>In case of a revocation via E-Mail, the user’s first name is to be indicated in the reference   line.</li>
<li>In case of an effective revocation, any services provided are to be mutually reimbursed and any benefits obtained from the use are to be restored.</li>
</ol>


<h3>§ 5 Claims for defects</h3>
<ol class="ordered-list">
<li>Fenchy GmbH shall grant the user access to “Fenchy” in the current version at the respective point of time. The user cannot request that a certain state or functional scope of “Fenchy” be maintained or set up.</li>
<li>The user shall inform Fenchy GmbH immediately after detecting a possible defect.</li>
<li>For reasons of securing evidence, the user is recommended to direct any notices of defect to Fenchy GmbH in writing.</li>
<li>Fenchy GmbH shall not assume warranties in the legal sense, unless expressly agreed otherwise in writing or required by applicable law.</li>
</ol>

<h3>§ 6 User’s responsibilities</h3>
<ol class="ordered-list">
<li>The user may hold only one account for “Fenchy”. A violation of this provision may lead to immediate freeze or deletion of all of the user’s accounts.</li>
<li>The user has to ensure that the password received for access is being kept secret. For security reasons, the password has to be changed regularly. The user who has registered for “Fenchy” through a social networking service is responsible for maintaining the confidentiality of the applicable social networking service’s password. The user is fully responsible for all activities that occur under the social networking service’s account.</li>
<li>Fenchy GmbH provides with “Fenchy” a platform for communication among the users. The user is responsible for the contents of his communication.</li>
<li>The user is responsible for keeping the communication and any other statements free from pornographic, racist or abusive contents, from contents glorifying violence and from other offensive or prohibited contents. Furthermore, the user is responsible for keeping the communication and any other statements free from political, religious and sexual contents.  Disregard of this provision may lead to an immediate freeze or deletion of the account.</li>
<li>The user is entitled to use “Fenchy” through normal web browsers only. Any use of additional programs, scripts or other supporting tools is expressly prohibited. Disregard of this provision may lead to an immediate freeze or deletion of the account concerned.</li>
<li>It is prohibited to exploit errors in the programming (bugs) for one’s own advantage. No measures may be taken either which lead to an overload of the servers.</li>
<li>The user shall not be permitted to add or change elements of the websites of “Fenchy”, delete such elements or modify them in any other form unless Fenchy GmbH has granted its express consent in writing to such action. In particular the user shall not be permitted to copy, export or otherwise use graphic and technical elements of the websites of “Fenchy”.</li>
<li>Unless otherwise stipulated in these Terms or in other agreements with the user, Fenchy GmbH shall as a principle communicate with the user via E-Mail. The user shall ensure that E-Mails sent by Fenchy GmbH to the E-Mail address stipulated by the user at the time of registration, or at a later time, actually reach him. This shall be ensured for example by regular checks of this address and by corresponding settings of spam filter preferences.</li>
<li>All suggestions, ideas, feedback and other submissions (”Feedback”) disclosed, submitted, or offered to Fenchy GmbH shall be the exclusive property of Fenchy GmbH. The user agrees that unless otherwise prohibited by law Fenchy GmbH may use, sell, exploit and disclose the Feedback in any manner, without any restriction and without any compensation.</li>
</ol>

<h3>§7 Duration of the contract, termination</h3>
<ol class="ordered-list">
<li>Unless otherwise determined, the user contract is concluded for an indefinite period of time.</li>
<li>The user contract may be terminated by either party at any time with immediate effect, provided that there is no agreement upon temporary contract period. If the user gives up his account explicitly, the user contract shall be considered as cancelled.</li>
<li>It shall not be necessary to specify reasons for an (ordinary) termination.</li>
<li>Every termination by Fenchy GmbH must be effected in writing. The written form shall also be fulfilled by submission as an E-Mail. Every extraordinary termination must be effected in writing, stating the reasons for the termination.</li>
<li>An important reason is constituted in particular, if:
    <ol class="ordered-list-alpha">
    <li>The user’s behavior affects the user experience of other users not insignificantly.</li>
    <li>The user uses more than one user account at “Fenchy”.</li>
    <li>Cheats or any other form of software, tools or scripts are used that alter the user experience of “Fenchy”.</li>
    <li>The user’s culpably violates these Terms, laws, complementing existing conditions of “Fenchy”.</li>
    </ol>
</li>
<li>For technical reasons, the definite deletion of the user data and the account will be carried out with a few days’ delay.</li>
<li>In the presence of legitimate reasons, including but not being limited to an extended period of inactivity, Fenchy GmbH is entitled to delete the user’s account. Moreover, Fenchy GmbH at its discretion is entitled to delete the user’s account at the end of the contract.</li>
<li>The termination of the user contract for “Fenchy” shall not affect the user’s social networking service accounts.</li>
</ol>

<h3>§8 Liability and liability for links</h3>
<ol class="ordered-list">
<li>Under no circumstances shall Fenchy GmbH be liable for any damages other than those caused in an intentional or in a grossly negligent way.</li>
<li>The aforementioned disclaimer of liability shall not apply for the liability in cases of violations of health, body and life. Furthermore, they shall not apply in as far as the damage is based on a violation of a basic or an essential contractual duty. Fenchy GmbH’s liability under the Product Liability Act as well as within the scope of application of § 7 subsection 2 TKV (decree on consumer protection in telecommunications) remains unaffected.</li>
<li>The obligation to compensate for violations of basic or essential contractual duties shall in all cases be limited to the foreseeable damage.</li>
<li>The user is only entitled to set-off, when the counterclaim has been legally established or has been recognized by Fenchy GmbH and is uncontested. The user can only exercise a right of retention as far as there are claims arising from these Terms.</li>
<li>The above-mentioned disclaimers and limitations of liability shall also apply with regard to the liability of Fenchy GmbH’s workers, representatives, vicarious agents and employees, in particular in favor of the employees, representatives, shareholders, organs and their members with regard to their personal liability.</li>
<li>Fenchy GmbH does not assume any warranty for continuous accessibility of “Fenchy” and the corresponding servers. However, Fenchy GmbH shall endeavor to assure continuous accessibility.</li>
<li>Fenchy GmbH shall not assume any liability for programming errors, for the failure of servers and damage caused in any other way.</li>
<li>There is no right to request restoration of the original condition before such interruption took place.</li>
<li>Fenchy GmbH hereby expressly dissociates itself from the contents concealed behind the links listed on the “Fenchy” websites, the links following on from them and any other visible or invisible contents. Fenchy GmbH does not adopt these websites and their contents nor does Fenchy GmbH assume any responsibility for the contents of these websites. Fenchy GmbH will not control the linked information. Fenchy GmbH is not aware of any violations of the external contents against applicable laws. The links will be deleted immediately in case of corresponding notifications.</li>
</ol>

<h3>§9 Privacy</h3>
<ol class="ordered-list">
<li>Personal information of the user is only collected, processed or used, when the user has consented or the Federal Privacy Act (Data Protection Act), the Telemedia Act (TMG) or another law allows or requires it.</li>
<li>More detail pursuant to Fenchy GmbH’s privacy statement.</li>
</ol>

<h3>§10 Jurisdiction and Translation</h3>
<ol class="ordered-list">
<li>The law of the Federal Republic of Germany applies. The application of the United Nations Convention on Contracts for the International Sale of Goods (CISG) as well as the conflict of laws provisions of German international private law is excluded.</li>
<li>If the user does not have a general jurisdiction in Germany, jurisdiction for all disputes is the headquarters of Fenchy GmbH. Fenchy GmbH is also entitled to sue at the general jurisdictions of the user.</li>
<li>Fenchy GmbH may provide these Terms in a language other than German. Any translation of these Terms is provided solely for the user’s convenience and is not intended to modify the terms of this Terms. In the event of a conflict between the German version of these Terms and a version in a language other than German, the German version shall prevail.</li>
<li>Fenchy GmbH operates “Fenchy” from Germany. Fenchy GmbH makes no representation that “Fenchy” is appropriate or available in other locations. The information provided on “Fenchy” is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject Fenchy GmbH to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access “Fenchy” from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.</li>
</ol>


<h3>§11 Escape clause</h3>
<ol class="ordered-list">
<li>If any provision of these Terms should be or become ineffective and/or oppose statutory provisions, the effectiveness of the remaining provisions of these Terms shall not be affected. The ineffective provision shall be replaced by the parties by such a provision, which legally comes closest to the economic sense and purpose of the invalid provision. The above provision applies in case of loopholes accordingly.</li>
</ol>

<p>
Berlin, 15th of November<br />
<br />
Fenchy GmbH<br />
Wühlischstr. 12<br />
10245 Berlin<br />
Germany<br />
<br />
Registered Court: HRB 143139 B Charlottenburg<br />
Managing Directors: Matthias Eisele, Dr. Volker Siems, Simon Akstinat<br />
Sales Tax ID: DE 284507479<br />
</p>
