<p>Das Online-Netzwerk Fenchy (nachstehend „Fenchy”) wird betrieben von der Fenchy GmbH, Wühlischstr. 12, 10245 Berlin (nachstehend „Fenchy GmbH“). Die im Rahmen von Fenchy erbrachten Dienstleistungen werden ausschließlich auf Basis dieser Allgemeinen Geschäftsbedingungen (nachstehend „AGB”) erbracht.</p>

<h3>§ 1 Geltungsbereich</h3>

<ol class="ordered-list">
    <li>	Von diesen Bedingungen abweichende Regelungen oder Allgemeine Geschäftsbedingungen der Nutzer von Fenchy (nachstehend „Nutzer”) finden nur dann Anwendung, wenn die Fenchy GmbH ihrer Geltung zuvor schriftlich zustimmt.</li>
    <li>	Die AGB gelten für alle Nutzer von Fenchy. Mit seiner Anmeldung zu Fenchy, das heißt mit dem Abschicken eines Antrags zur Eröffnung eines Accounts für Fenchy und mit dem jeweiligen Anmelden auf der Homepage akzeptiert der Nutzer diese als verbindlich. Die AGB gelten für jedwede Nutzung von Fenchy. Bei der Anmeldung zu Fenchy wird der Nutzer aufgefordert, ihnen zuzustimmen.</li>
    <li>	Die AGB werden ausschließlich auf Webseiten von Fenchy veröffentlicht. Sie können auf einen dauerhaften Datenträger gespeichert, in den Arbeitsspeicher geladen oder ausgedruckt werden. Auf postalische Anfrage des Nutzers können diese AGB auch zugesendet werden.</li>
    <li>	Die Fenchy GmbH behält sich das Recht vor, diese AGB mit Wirkung für die Zukunft jederzeit zu ergänzen oder zu ändern, sofern dies als notwendig erscheint und der Nutzer hierdurch nicht wider Treu und Glauben benachteiligt wird. Eine Benachrichtigung über Ergänzungen oder Änderungen erfolgt in geeigneter Weise, das heißt entweder auf den Webseiten von Fenchy durch die Öffnung eines besonderen Fensters beim Einloggen oder durch Zusendung einer E-Mail an die vom Nutzer angegebene E-Mail-Adresse. In jedem Fall wird der Nutzer beim Einloggen über die Ergänzung oder Änderung durch eine hervorgehobene Benachrichtigung informiert.</li>
    <li>	Dem Nutzer wird empfohlen, sich ständig über den Stand der AGB zu informieren.</li>
    <li>	Fenchy wird von der Fenchy GmbH ausschließlich Verbrauchern im Sinne von § 13 BGB angeboten. Die Nutzung von Fenchy zu Erwerbszwecken oder sonstigen gewerblichen Zwecken ist ausgeschlossen. Alle Personen, die zum Zeitpunkt der Anmeldung zu Fenchy die Volljährigkeit erreicht haben, sind teilnahmeberechtigt. Minderjährige sind nur dann teilnahmeberechtigt, wenn vor der Anmeldung zu Fenchy das Einverständnis des gesetzlichen Vertreters vorliegt. Der Nutzer versichert mit der Anmeldung zu Fenchy ausdrücklich seine Volljährigkeit und Geschäftsfähigkeit beziehungsweise, bei Minderjährigen, das Vorliegen der Zustimmung des gesetzlichen Vertreters.</li>
    <li>	Nach Benachrichtigung und Kenntnisnahmemöglichkeit kann der Nutzer innerhalb von einem Monat den Änderungen und Ergänzungen der AGB widersprechen. Es wird empfohlen, den Widerspruch per E-Mail oder schriftlich an die Fenchy GmbH zu richten. Erreicht der Widerspruch die Fenchy GmbH nicht innerhalb von einem Monat nach Unterrichtung und Kenntnisnahmemöglichkeit oder nutzt der Nutzer Fenchy weiterhin, so werden die geänderten oder ergänzenden AGB ihm gegenüber wirksam. Erfolgt der Widerspruch fristgemäß, so sind beide Parteien berechtigt, den Vertrag mit einer Kündigungsfrist von einem Monat zu kündigen. Die ursprünglichen AGB gelten bis zur Vertragsbeendigung fort. In der Unterrichtung über die Änderungen auf die Möglichkeit der Kündigung und des Widerspruchs, die Frist und die Rechtsfolgen, besonders hinsichtlich eines unterbliebenen Widerspruchs, wird die Fenchy GmbH besonders hinweisen.</li>
</ol>

<h3>§ 2 Vertragsschluss</h3>

<ol class="ordered-list">
    <li>	Der Nutzer gibt mit Ausfüllen des Registrierungsformulars ein verbindliches Angebot zum Antrag auf Eröffnung eines Accounts ab. Hierzu sind alle Felder des Registrierungsformulars richtig und vollständig auszufüllen. Jeder Antrag bezieht sich auf die Teilnahme an Fenchy mit einem bestimmten Account.</li>
    <li>	Mit erfolgreicher Anmeldung zu Fenchy, das heißt mit der Eröffnung eines Accounts durch die Fenchy GmbH, beginnt der Nutzungsvertrag über Fenchy (nachstehend „Nutzungsvertrag“).</li>
    <li>	Der Nutzer kann sich zu Fenchy auch über verschiedene soziale Netzwerke anmelden. Diese Möglichkeit besteht ausschließlich für Nutzer, die registrierte Mitglieder der jeweiligen sozialen Netzwerke sind, über die auf Fenchy zugegriffen wird. Die Nutzung von Fenchy über soziale Netwerke erfolgt im Einklang mit den jeweiligen Allgemeinen Geschäftsbedingungen bzw. Bestimmungen des sozialen Netzwerks.</li>
    <li>	Der Nutzer kann jederzeit den Nutzungsvertrag über die in Fenchy eingerichtete automatische Löschfunktion seines Accounts beenden. Die Nutzungsverträge, die mit sozialen Netzwerken zustande kamen, sind hiervon jedoch nicht betroffen.</li>
    <li>	Auf den Abschluss eines Nutzungsvertrags hat der Nutzer keinen Anspruch.</li>
    
</ol>

<h3>§ 3 Leistungsinhalte</h3>

<ol class="ordered-list">
    <li>	Die von der Fenchy GmbH erbrachte Leistung besteht aus der Bereitstellung der Webseiten von Fenchy. Fenchy ermöglicht Nutzern das Teilen von Interessen, Aktivitäten, Veranstaltungen, Gütern und sonstigen Angeboten und Gesuchen mit den Menschen in der lokalen Umgebung. Das Angebot besteht lediglich in der Vermittlung dieser Inhalte. Nutzungs-, Kauf-, Dienstleistungsverträge und sonstige, die Inhalte betreffenden Verträge kommen allein zwischen dem jeweiligen Anbieter des Inhalts und dem das Angebot annehmenden Nutzer zustande. Sofern nicht ausdrücklich anders angegeben, ist die Nutzung kostenlos. An den Funktionen von „Fenchy” erhält der Nutzer lediglich ein Nutzungsrecht.</li>
    <li>	Weiterhin werden auf Fenchy kostenlos Gutscheine und Gutscheincodes unter dem Vorbehalt der Verfügbarkeit von Dritten angeboten. Diese Gutscheine und Gutscheincodes können in den jeweiligen Geschäften der Kooperationspartner der Fenchy GmbH (nachstehend „Partner“) eingelöst werden. Die Fenchy GmbH hat keinen Einfluss auf die Anzahl oder den Inhalt der Gutscheine bzw. Gutscheincodes. Die Verantwortung hierfür liegt alleine bei den Partnern. Die Fenchy GmbH übernimmt keine Gewähr für den Erhalt der jeweils beschriebenen Vergünstigung oder sonstiger Vorteile. Produktbestellungen und Anfragen zu Produkten sind an den jeweiligen Partner zu richten. Der Vertrag über den Kauf des Produkts bzw. die Inanspruchnahme der Dienstleistung kommt ausschließlich zwischen dem Nutzer und dem Partner zustande. Hierfür gelten ausschließlich die Geschäftsbedingungen des Partners.</li>
    <li>	Die Nutzung von Fenchy steht nur denjenigen Nutzern offen, die über den Weg der Registrierung einen Account erstellt haben. Ab dem Zeitpunkt, ab dem die Fenchy GmbH für den Nutzer einen Account angelegt hat, wird für den Nutzer die Nutzung von Fenchy ermöglicht.</li>
    <li>	Die einzelnen Abläufe und -funktionen können von der Fenchy GmbH jederzeit und ohne Vorankündigung modifiziert werden.</li>
    <li>	Fenchy wird laufend angepasst, aktualisiert, verändert und erweitert, um es für eine große Anzahl von Nutzern dauerhaft interessant zu halten. Dementsprechend erhält der Nutzer lediglich ein Nutzungsrecht an Fenchy in der jeweils aktuellen Fassung.</li>
    <li>	Der Nutzer hat keinen Anspruch auf Aufrechterhaltung von Fenchy in der bei Vertragsschluss bestehenden Version.</li>
</ol>

<h3>§ 4 Widerrufsrecht</h3>
<h3>Anfang der Widerrufsbelehrung</h3>
<ol class="ordered-list">
    <li>	Seinen Antrag zur Eröffnung eines Accounts kann der Nutzer innerhalb einer Frist von zwei Wochen ohne Angabe von Gründen in Textform (z.B. durch Fax, Brief, E-Mail) widerrufen. Frühestens mit Erhalt dieser Belehrung beginnt die Frist. Die rechtzeitige Absendung des Widerrufs genügt zur Wahrung der Widerrufsfrist.</li>
    <li>	Wenn die Fenchy GmbH mit der Ausführung der Dienstleistung mit ausdrücklicher Zustimmung des Nutzers vor Ende der Widerrufsfrist begonnen hat oder der Nutzer diese selbst veranlasst hat, erlischt das Widerrufsrecht, soweit es sich um von der Fenchy GmbH angebotene Dienstleistungen handelt.</li>
    <li>	Hiervon ist auszugehen, wenn der Nutzer Fenchy in Anspruch genommen hat. Es gilt als in Anspruch genommen, sobald sich der Nutzer zu Fenchy anmeldet.</li>
    <li>	Der Widerruf ist zu richten an:<br/>
        Fenchy GmbH<br/>
        Wühlischstr. 12<br/>
        10245 Berlin<br/>

        E-Mail: customer@fenchy.com
        </li>
    <li>  Wird per E-Mail widerrufen, ist in der Betreffzeile der Name des Nutzers anzugeben.</li>
    <li>  Ist der Widerruf wirksam, sind die beiderseits empfangenen Leistungen zurückzugewähren und    gegebenenfalls Nutzungen herauszugeben.</li>
</ol>
<h3>Ende der Widerrufsbelehrung</h3>


<h3>§ 5 Mängelansprüche</h3>

<ol class="ordered-list">
    <li>	Der Zugang zu „Fenchy” in der jeweils vorhandenen Fassung wird von der Fenchy GmbH ermöglicht. Ein Anspruch des Nutzers auf Aufrechterhaltung oder Herbeiführung eines bestimmten Funktionsumfangs und/oder eines bestimmten Zustandes besteht nicht.</li>
    <li>	Die Fenchy GmbH empfiehlt, Mängel unmittelbar nach deren Entdeckung gegenüber der Fenchy GmbH zu rügen.</li>
    <li>	Die Fenchy GmbH empfiehlt außerdem, sämtliche Rügen schriftlich an die Fenchy GmbH zu richten.</li>
    <li>	Wenn nicht ausdrücklich anders schriftlich vereinbart, werden Garantien im Rechtssinne nicht von der Fenchy GmbH übernommen.</li>
</ol>

<h3>§ 6 Verpflichtungen des Nutzers</h3>

<ol class="ordered-list">
    <li>	Innerhalb von Fenchy darf der Nutzer nur einen Account haben. Verstößt der Nutzer gegen diese Vorschrift, kann dies zur sofortigen Löschung oder zur Sperrung der Accounts führen.</li>
    <li>        Der Nutzer hat dafür Sorge zu tragen, das angegebene Passwort geheim zu halten und dieses aus Sicherheitsgründen regelmäßig zu ändern. Der Nutzer, der sich über ein soziales Netzwerk zu Fenchy angemeldet hat, hat dafür Sorge zu tragen, das zur Anmeldung beim sozialen Netzwerk verwendete Passwort geheim zu halten und regelmäßig zu ändern. Der Nutzer ist für alle Aktivitäten, die innerhalb des sozialen Netzwerks unter seinem Account stattfinden, selbst verantwortlich.</li>
    <li>	Die Fenchy GmbH stellt mit Fenchy auch eine Plattform zur Kommunikation unter den Nutzern zur Verfügung. Der Nutzer ist für den Inhalt der Kommunikation selbst verantwortlich.</li>
    <li><b>	Der Nutzer verpflichtet sich, jede Art der Kommunikation frei von pornographischen, beleidigenden, gewaltverherrlichenden, rassistischen und sonstigen anstößigen oder verbotenen Inhalten zu halten. Der Nutzer verpflichtet sich außerdem, jede Art der Kommunikation frei von politischen, religiösen oder sexuellen Inhalten zu halten. Wird diese Regelung missachtet, kann der Nutzer abgemahnt oder der Account mit sofortiger Wirkung gesperrt oder gelöscht werden.</b></li>
    <li>	Der Nutzer hat das Recht, Fenchy lediglich über gängige Webbrowser zu nutzen. Darüber hinausgehende Nutzung von Scripten, Zusatzprogrammen oder sonstigen Hilfsmitteln ist untersagt. Wird dieses Verbot missachtet, kann dies zu Abmahnungen, Sperrung oder Löschung des Accounts führen.</li>
    <li>	Dem Nutzer ist es verboten, Fehler in der Programmierung (häufig Bugs genannt) für den eigenen Vorteil zu nutzen. Maßnahmen, die zu übermäßiger Belastung der Server führen, sind untersagt.</li>
    <li>	Dem Nutzer ist es verboten, den Webseiten von Fenchy Elemente hinzuzufügen oder Elemente zu ändern, zu löschen oder in einer anderen Form zu modifizieren, es sei denn, die Fenchy GmbH hat eine ausdrückliche schriftliche Zustimmung dazu erteilt. Insbesondere ist es dem Nutzer nicht gestattet, grafische und technische Elemente zu kopieren, hinzuzufügen, zu entnehmen oder anderweitig zu verwenden.</li>
    <li>	Sofern nicht anders durch diese AGB oder anderweitigen Bestimmungen mit dem jeweiligen Nutzer vereinbart, findet die Kommunikation mit dem Nutzer per E-Mail statt. Der Nutzer hat sicherzustellen, dass ihn sämtliche E-Mails, die von der Fenchy GmbH an die von ihm bei der Registrierung angegebene oder später mitgeteilte E-Mail-Adresse versendet werden, erreichen. Diese Adresse wird er regelmäßig überprüfen und beispielsweise durch entsprechende Einstellungen des Spamfilters für die Erreichbarkeit Sorge tragen.</li>
    <li>	Vorschläge, Ideen und sonstiges Feedback (nachstehend „Feedback“), die an die Fenchy GmbH eingereicht, vorgeschlagen oder angeboten werden, stehen in uneingeschränkten Eigentum der Fenchy GmbH. Der Nutzer stimmt zu, dass die Fenchy GmbH das Feedback im Rahmen des Gesetzes, ohne jegliche Einschränkungen und ohne jegliche Kompensationszahlungen auswerten und verwenden kann.</li>
</ol>

<h3>§ 7 Laufzeit, Kündigung</h3>

<ol class="ordered-list">
    <li>	Sofern nicht anders vereinbart, werden die Verträge über die Nutzung von Fenchy zwischen dem Nutzer und der Fenchy GmbH auf unbestimmte Zeit geschlossen.</li>
    <li>	Ist über die Nutzung von Fenchy eine bestimmte Laufzeit nicht vereinbart worden, können beide Parteien den Nutzungsvertrag jederzeit ordentlich mit sofortiger Wirkung kündigen. Wird der Account vom Nutzer ausdrücklich aufgegeben, gilt dies als Kündigung des Nutzungsvertrags für diesen Account.</li>
    <li>	Bei der ordentlichen Kündigung bedarf es keiner Angabe von Gründen.</li>
    <li>	Jede Kündigung durch die Fenchy GmbH hat schriftlich zu erfolgen, wobei die Schriftform auch durch E-Mail gewahrt wird. Die außerordentliche Kündigung hat stets schriftlich unter Angabe von Gründen zu erfolgen.</li>
    <li>	Ein wichtiger Grund liegt insbesondere dann vor, wenn:
        <ul class="ordered-list-letter">
            <li>sich der Nutzer innerhalb von Fenchy so verhält, dass das Nutzungserlebnis anderer Nutzer nicht unwesentlich beeinträchtigt wird.</li>
            <li>der Nutzer mehrere Accounts für Fenchy verwendet.</li>
            <li>Cheats oder Formen von Software, Tools oder Scripte verwendet werden, die das Nutzungserlebnis von Fenchy verändern.</li>
            <li>der Nutzer schuldhaft gegen diese AGB, Gesetze oder ergänzend geltende Bedingungen verstößt.</li>
        </ul>
    </li>
    <li>Aus technischen Gründen erfolgt die endgültige Löschung der Benutzerdaten und des Accounts mit einer Verzögerung von wenigen Tagen.</li>
    <li>Die Fenchy GmbH ist bei Vorliegen von berechtigten Gründen, z.B. längere Inaktivität, befugt, den Account zu löschen. Darüber hinaus ist die Fenchy GmbH nach freiem Ermessen berechtigt, Accounts zum Vertragsende zu löschen.</li>
    <li>Die Kündigung des Nutzungsvertrages für Fenchy hat keinen Einfluss auf Nutzungsverträge, die mit sozialen Netzwerken zustande kamen.</li>
</ol>

<h3>§ 8 Haftung und Haftung für Links</h3>

<ol class="ordered-list">
    <li>	Die Fenchy GmbH haftet in keinem Fall für andere als vorsätzlich oder grob fahrlässig verursachte Schäden.</li>
    <li>	Für die Haftung bei Verletzung von Leben, Gesundheit und Körper gelten vorstehende Haftungsausschlüsse nicht. Soweit der Schaden auf der Verletzung einer Kardinal- oder wesentlichen Vertragspflicht beruht, gelten sie gleichermaßen nicht. Unberührt bleibt die Haftung der Fenchy GmbH nach dem Produkthaftungsgesetz sowie im Anwendungsbereich des §7 Abs. 2 Telekommunikations-Kundenschutzverordnung (TKV).</li>
    <li>	Bei der Verletzung von Kardinal- oder wesentlichen Vertragspflichten ist die Ersatzpflicht jeweils auf den vorhersehbaren Schaden beschränkt.</li>
    <li>	Der Nutzer ist nur dann zur Aufrechnung berechtigt, soweit seine Gegenforderung rechtskräftig festgestellt oder von der Fenchy GmbH anerkannt oder unbestritten ist. Ein Zurückbehaltungsrecht kann der Nutzer nur dann ausüben, soweit es Ansprüche aus diesen AGB betrifft.</li>
    <li>	Im Hinblick auf die Haftung der Arbeitnehmer, Vertreter und Erfüllungsgehilfen, Angestellten und Mitarbeiter der Fenchy GmbH, insbesondere zugunsten der Mitarbeiter, Vertreter, Anteilseigner, Organe und deren Mitgliedern betreffend ihre persönliche Haftung, gelten die vorstehenden Haftungsausschlüsse bzw. -beschränkungen ebenfalls.</li>
    <li>	Die Fenchy GmbH übernimmt keine Garantie für die durchgehende Erreichbarkeit von Fenchy und der dazugehörigen Server, versucht diese jedoch sicherzustellen.</li>
    <li>	Die Fenchy GmbH übernimmt keinerlei Haftung für Programmierfehler, den Ausfall von Servern und auf sonstige Weise entstehende Schäden.</li>
    <li>	Anspruch auf die Wiederherstellung des Zustandes vor Eintritt einer solchen Störung besteht nicht.</li>
    <li>	Hiermit distanziert sich die Fenchy GmbH ausdrücklich von den Inhalten die sich hinter den auf den Webseiten von Fenchy aufgeführten Links, weiterführenden Links, sowie sämtlichen sichtbaren oder unsichtbaren Inhalten Dritter verbergen. Die Inhalte dieser Webseiten macht sich die Fenchy GmbH nicht zu eigen und übernimmt keinerlei Verantwortung für die Inhalte dieser Webseiten. Von der Fenchy GmbH erfolgt keine Kontrolle über die verlinkten Informationen. Der Fenchy GmbH sind Verstöße der fremden Inhalte gegen geltendes Recht nicht bekannt. Die Verlinkungen werden bei entsprechender Benachrichtigung umgehend gelöscht.</li>
</ol>

<h3>§ 9 Datenschutzs</h3>

<ol class="ordered-list">
    <li>	Die personenbezogenen Daten des Nutzers werden nur dann erhoben, verarbeitet oder genutzt, sofern der Nutzer eingewilligt hat oder das Telemediengesetz (TMG), das Bundesdatenschutzgesetz (BDSG) oder eine andere Rechtsvorschrift es anordnet oder erlaubt.</li>
    <li>	Näheres bestimmt sich nach der Datenschutzerklärung.</li>

</ol>

<h3>§ 10 Gerichtsstand und Übersetzung</h3>

<ol class="ordered-list">
    <li>	Es gilt das Recht der Bundesrepublik Deutschland. Ausgeschlossen ist die Anwendung des UN-Kaufrechts über den Kauf beweglicher Sachen sowie der Kollisionsregeln des deutschen internationalen Privatrechts.</li>
    <li>	Wenn der Nutzer keinen allgemeinen Gerichtsstand in Deutschland hat, ist Gerichtsstand für alle Rechtsstreitigkeiten der Sitz der Fenchy GmbH. Außerdem ist die Fenchy GmbH berechtigt, auch am allgemeinen Gerichtsstand des Nutzers zu klagen.</li>
    <li>	Die Fenchy GmbH hat das Recht, diese AGB neben der deutschen Sprache auch in weiteren Sprachen zur Verfügung zu stellen. Jede Übersetzung dieser AGB wird ausschließlich aus Gründen der Nutzerfreundlichkeit zur Verfügung gestellt und dient nicht dazu, die Inhalte dieser AGB zu verändern. Bei Widerspruch zwischen der deutschen Version und Versionen anderer Sprachen gilt die deutsche Version.</li>
    <li>	Die Fenchy GmbH betreibt Fenchy von Deutschland aus. Die Fenchy GmbH übernimmt keine Verantwortung für die Verfügbarkeit von „Fenchy“ in anderen Ländern. Die Benutzung in Ländern, in denen Teile oder die Gesamtheit von Fenchy in Widerspruch zu lokalen Gesetzen stehen, ist verboten. Personen, die auf Fenchy von anderen Ländern aus zugreifen, tun dies in eigener Verantwortung und sind selbst für die Einhaltung der dort geltenden Gesetze zuständig.</li>
</ol>

<h3>§ 11 Salvatorische Klausel</h3>

<ol class="ordered-list">
    <li>	Sollten einzelne Bestimmungen dieser AGB unwirksam sein oder werden und/oder den gesetzlichen Regelungen widersprechen, so wird hierdurch die Wirksamkeit der AGB im Übrigen nicht berührt. Die unwirksame Bestimmung wird von den Vertragsparteien einvernehmlich durch eine solche Bestimmung ersetzt, welche dem wirtschaftlichen Sinn und Zweck der unwirksamen Bestimmung in rechtswirksamer Weise am Nächsten kommt. Die vorstehende Regelung gilt entsprechend bei Regelungslücken.</li>
</ol>

<p>Berlin, der 15. November 2012</p>
<p>
Fenchy GmbH<br/>
Wühlischstr. 12<br/>
10245 Berlin<br/>
Germany
</p>
<p>Amtsgericht: HRB 143139 B Charlottenburg</p>
<p>Geschäftsführer: Matthias Eisele, Dr. Volker Siems, Simon Akstinat</p>
<p>USt-IdNr.: DE 284507479</p>
