{% extends '::baseV2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app/main-container-v2.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/app/settings-v2.css') }}" type="text/css" />
{% endblock %}
    
{% block content %}

<section class="main main-wrapper">
    <div id="main-container">
        <div class="clearfix">
                {% block content_inner %}{% endblock %}
        </div>
    </div>
</section>             

{% endblock %}