{% extends 'FenchyFrontendBundle::static.html.twig' %}
    
{% block content_static %}
        <h1>{{ 'frontend.advertising.title'|trans }}</h1>
        <p>{{ 'frontend.advertising.article.par_1'|trans }}</p>
        <p>{{ 'frontend.advertising.article.par_2'|trans }}</p>
        <p>{{ 'frontend.advertising.article.par_3'|trans }}</p>
{% endblock %}