{# empty Twig template #}
<div class="inner-content">
    <blockquote class="intro">
        <i class="icon-quote-left"></i>
        <p>{{ displayUser.regularuser.aboutMe }}</p>
        <i class="icon-quote-right"></i>
    </blockquote>
    {% include 'FenchyRegularUserBundle:Partials:userReviewsV2.html.twig' %}        
</div>
