<div id="header">
    <div>
        <a href="{{ path('fenchy_frontend_homepage') }}" >
            <img src="{{ asset('images/logo.png') }}" alt="{{ 'frontend.logo_alt'|trans }}" />
        </a>
    </div>
</div>
