{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
<div class="tw_fb_logins">
    <a href="" id="facebook-login" class="facebook"><span class="firstletter">f</span> <span class="separator">|</span> {{ 'user.sign_up_with_facebook'|trans }}</a>
</div>
